<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" 
	   	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:beans="http://www.springframework.org/schema/beans" 
        xmlns:context="http://www.springframework.org/schema/context"
        xmlns:sec="http://www.springframework.org/schema/security"
        xsi:schemaLocation="
			http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
			http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd
       		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd">
		
	<!-- 
		multiple security methods are defined in this file 
		no-security and cas-security
		the security method is activated by setting the profile in the web.xml file
	-->		

	<!-- no-security profile begin -->
	<beans profile="no-security">
		
		<!-- for all other urls allow anon access -->
		<sec:http use-expressions="true">
       	 	<sec:intercept-url pattern="/**" access="permitAll" />
        	<sec:form-login />
    	</sec:http>

		<!-- add dummy auth manager -->
    	<sec:authentication-manager>
        	<sec:authentication-provider>
            	<sec:user-service>
                	<sec:user name="foobar" password="foobar" authorities="user" />
            	</sec:user-service>
        	</sec:authentication-provider>
    	</sec:authentication-manager>
     	
	</beans>    	
	<!-- no-security profile end -->
	
	<!-- cas-security profile start -->
	<!-- see the cas-security.properties file defined below -->
	<beans profile="cas-security">
		
	<!-- property file -->
	<context:property-placeholder location="WEB-INF/cas-security.properties" />
	
	<!-- audit listeners -->
    	<bean id="authenticationListener" class="org.springframework.security.authentication.event.LoggerListener" />
    	<bean id="authorizationListener" class="org.springframework.security.access.event.LoggerListener" />

	<!-- unprotected resources -->
 	<sec:http pattern="/unAuthorized.jsp*" security="none"/>
	<sec:http pattern="/images/**" security="none"/>

	<!-- protected resources -->
	<sec:http use-expressions="true" entry-point-ref="casEntryPoint" >
    		<sec:intercept-url pattern="/**"  access="isAuthenticated()"/>
    		<!-- <sec:intercept-url pattern="/**"  access="hasRole('ROLE_ADMIN')"/> -->
        	<sec:custom-filter ref="casFilter" after="CAS_FILTER"/>
    	</sec:http>   

	<sec:authentication-manager alias="authManager">
        	<sec:authentication-provider ref="casAuthProvider"/>
    	</sec:authentication-manager>
        
    	<bean id="serviceProperties" class="org.springframework.security.cas.ServiceProperties">
        	<property name="service" value="${swif.endpoint}/j_spring_cas_security_check"/>
        	<property name="authenticateAllArtifacts" value="true"/>
    	</bean>
    
    	<bean id="casEntryPoint" class="org.springframework.security.cas.web.CasAuthenticationEntryPoint">
        	<property name="loginUrl" value="${cas.endpoint}/login"/>
        	<property name="serviceProperties" ref="serviceProperties"/>
    	</bean>
    
	<bean id="casFilter" class="org.springframework.security.cas.web.CasAuthenticationFilter">
        	<property name="authenticationManager" ref="authManager"/>
        	<property name="serviceProperties" ref="serviceProperties"/>
        	<property name="authenticationDetailsSource" ref="authenticationDetailsSource" />
        	<property name="authenticationFailureHandler" ref="authenticationFailureHandler" />
        	<property name="authenticationSuccessHandler" ref="authenticationSuccessHandler" /> 
    	</bean>
    
    	<bean id="authenticationFailureHandler" class="org.springframework.security.web.authentication.SimpleUrlAuthenticationFailureHandler">
        	<property name="defaultFailureUrl" value="/unAuthorized.jsp"/>
    	</bean>
    
    	<bean id="authenticationSuccessHandler" class="org.springframework.security.web.authentication.SavedRequestAwareAuthenticationSuccessHandler">
    		<property name="defaultTargetUrl" value="/"/>
    	</bean>
    
	<bean id="authenticationDetailsSource" class="org.springframework.security.cas.web.authentication.ServiceAuthenticationDetailsSource"/>
	
    	<bean id="casAuthProvider" class="org.springframework.security.cas.authentication.CasAuthenticationProvider">
        	<property name="serviceProperties" ref="serviceProperties" />
        	<property name="key" value="swif"/>
		<property name="userDetailsService" ref="ldapUserDetailService" />
		<property name="ticketValidator" ref="casTicketValidator" />
    	</bean>
    
    	<bean id="casTicketValidator" class="org.jasig.cas.client.validation.Cas20ProxyTicketValidator" >
     		<constructor-arg index="0" value="${cas.endpoint}" />
    	</bean>
	
    	<bean id="ldapUserDetailService" class="org.springframework.security.ldap.userdetails.LdapUserDetailsService">
         	<constructor-arg ref="ldapUserSearch" />
         	<constructor-arg ref="ldapRoleSearch" />
    	</bean>

    	<bean id="ldapUserSearch" class="org.springframework.security.ldap.search.FilterBasedLdapUserSearch">
          	<constructor-arg value="${ldap.user.base.dn}" />
       		<constructor-arg value="(uid={0})"/>
       		<constructor-arg ref="ldapContextSource" />
    	</bean>
    
    	<bean id="ldapRoleSearch" class="org.springframework.security.ldap.userdetails.DefaultLdapAuthoritiesPopulator">
        	<constructor-arg ref="ldapContextSource" />
          	<constructor-arg value="${ldap.role.base.dn}" />
          	<property name="groupRoleAttribute" value="cn"/>
          	<property name="groupSearchFilter" value="(member={0})"/>
          	<property name="rolePrefix" value="ROLE_"/>
          	<property name="searchSubtree" value="true"/>
          	<property name="convertToUpperCase" value="true"/>
    	</bean>
    
  	<bean id="ldapContextSource" class="org.springframework.security.ldap.DefaultSpringSecurityContextSource">
        	<constructor-arg  value="${ldap.endpoint}"/>
		<property name="userDn" value="${ldap.connect.user}" />
     		<property name="password" value="${ldap.connect.password}" />
    	</bean>	
	
	</beans>    
	<!-- cas-security profile end -->
	
</beans>
